* {
	transition: opacity 0.2s, visibility 0.2s;
}

html,
body {
	margin: 0;
	height: 100%;
}

body {
	font-family: "Trebuchet MS", sans-serif;
}

#root {
	width: 100%;
	height: 100%;
	background-color: black;
	color: white;
}

.timer-layout {
	width: 100%;
	display: flex;
	justify-content: center;
}

.time {
	display: flex;
	justify-content: center;
}

.buttons {
	display: flex;
	justify-content: center;
	gap: 10px;
}

button {
	font-size: large;
}

#tippy-1 {
	.tippy-box {
		[data-state="visible"] {
			opacity: 1;
			visibility: visible;
		}

		[data-state="hidden"] {
			opacity: 0;
			visibility: hidden;
		}
	}
}
