:root {
	--color-cube-green: #15c185;
	--color-cube-red: #ff213b;
	--color-cube-yellow: #fdf065;
	--color-cube-blue: #4c6ef4;
	--color-cube-orange: #ff9a14;

	--color-timer-green: var(--color-cube-green);
	--color-timer-red: var(--color-cube-red);

	.dark {
		--color-primary: white;
		--color-secondary: black;
		--color-cube-white: var(--color-primary);
	}

	.light {
		--color-primary: black;
		--color-secondary: white;
		--color-cube-white: var(--color-primary);
	}
}
